@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@font-face {
    font-family: pirate-font;
    src: url(../images/black-rose-font/BlackRose-2Onld.ttf);
}

:root{
    background-image: url("../images/pirateship.jpeg");
    background-position: left;
    font-family:pirate-font,Arial;
    font-size:16px;
    --fancyblue : rgb(118, 182, 208,40%);
    --centeralignment:center;
    --genericshadow:5px 5px 5px black;
    --smallshadow:0px 3px 10px black;
}

body{
    width:100%;
    height: 100%;
    margin:0;
    display:flex;
}

/*
    Left Border
*/
body>div:first-child{
    display:flex;
    position:relative;
    top:7.5em;
    justify-content: var(--centeralignment);
    width:45%;
    height: 93%;
    background-color: var(--fancyblue);
}
body>div:first-child>h1{
    font-weight: bold;
    font-size:3em;
}


/*

    Main Panel

*/
body>div:nth-child(2){
    font-family: 'Libre Baskerville', serif;
    font-size: 1.1em;
    line-height:2em;
    box-sizing:border-box;
    justify-content: space-between;
    width:55%;
    height: 93vh;
    background-color: rgb(215, 208, 208);
    padding:20px;
}

/********** Form ************/
.formpanel>div:first-child{
    line-height:1.5em;
}
fieldset{
    margin-top:20px;
    display:flex;
    flex-direction: column;
    gap:5px;
    box-shadow:var(--smallshadow);
    padding:30px 15px;
}
fieldset>h3{
    margin:0;
    font-size:1.5em;
    text-decoration: underline;
}
.form{
    font-family:Arial, Helvetica, sans-serif;
    font-size:.7em;
} 

.names,.generalinfo,.password{
    box-sizing: border-box;
    display:flex;
    gap:50px;
    outline:none;
}
.names>div,.generalinfo>div,.password>div{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    outline:none;
}
.names>div>label,.generalinfo>div>label,.password>div>label{
    position:relative;
    bottom:-10px;
    margin:0;padding:0;
}

.names>div>input,.generalinfo>div>input,.password>div>input{
    box-shadow: 5px 5px 5px transparent;
    border:1.5px solid rgb(124 107 107);
    box-sizing: border-box;
    height:40%;
    padding:5px;
    width:200px;
    border-radius:3px;
}
/********Fancy Input Implementation********/
.names>div>input:focus,.generalinfo>div>input:focus,.password>div>input:focus{
    box-sizing: border-box;
    box-shadow: var(--genericshadow);
    outline:none;
    border:1.5px solid blue;
} 

.names>div>input:valid,.generalinfo>div>input:valid,.password>div>input:valid{
    border:1.5px solid green;
    background-color: rgb(182, 248, 248);
}
.names>div>input:invalid,.generalinfo>div>input:invalid,.password>div>input:invalid{
    border:1.5px solid red;
    background-color: rgb(248, 190, 182);
}

button[type='submit']{
    display:flex;
    justify-content: var(--centeralignment);
    align-items: var(--centeralignment);
    margin-top:25px;
    margin-left:25px;
    padding:10px;
    background-color: var(--fancyblue);
    height:4em;
    width:30%;
    border-radius: 8px;
    box-shadow:var(--smallshadow);
}
.buttonstyling>p{
    margin:10px 25px;
    font-size:1.5em;
}

/*Footer*/
footer{
    display:flex;
    justify-content: var(--centeralignment);align-items: var(--centeralignment);
    font-size: 1em;
    
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background-color: gray;
    width:100vw;
    height:7%;
}

